POSTGRES_DB=directus
POSTGRES_USER=directus_user
POSTGRES_PASSWORD=change_me_strong_password

DIRECTUS_PORT=8055
DIRECTUS_PUBLIC_URL=https://admin.example.com
DIRECTUS_CORS_ORIGIN=https://example.com

DIRECTUS_KEY=change_me_directus_key
DIRECTUS_SECRET=change_me_directus_secret
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=change_me_admin_password
